.dropdown-container {
    position: absolute;
    right: 0;
    transition: transform 0.5s ease-in-out;
    top: 16vh;
    bottom: -22.5vh;
    z-index: 10;
    padding-bottom: 2px;
  }
  
  @media (max-width:767px){
    .dropdown-container{
      top: 14.3vh;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px){
    .dropdown-container{
      top: 14.2vh;
    }
  }

  .dropdown-hidden {
    transform: translateY(-100%);
    visibility: hidden;
  }
  
  .dropdown-visible {
    transform: translateY(0);
    visibility: visible;
  }
  
  .dropdown-content-1 {
    border-bottom: 4px solid #c05f3c;
    border-top: 2px solid #c05f3c;
    position: relative;
    z-index: 20;
    background-color: #c05f3c;
  }
  
  .dropdown-content-2 {
    position: relative;
    z-index: 10;
    background-color: #c05f3c;
    transition: transform 0.5s ease-in-out;
  }
  
  .content-hidden {
    transform: translateX(-100%);
    visibility: hidden;
  }
  
  .content-visible {
    transform: translateX(0);
    visibility: visible;
  }
