
.loader {
    background: none;
    filter: contrast(20);
    height: 40px;
    margin: -20px 0 0 -60px;
    position: relative;
    width: 142px
}

@media (max-width: 767.98px) {
    .loader {
        height:35px;
        margin: -50px;
        width: 120px
    }
}

@media (max-width: 575.98px) {
    .loader {
        height:30px;
        margin: -30px;
        width: 100px
    }
}

.loader .dot {
    -webkit-animation: dot 2s infinite;
    animation: dot 2s infinite;
    background: rgba(var(--red),var(--green),var(--blue),1);
    border-radius: 50%;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 12px;
    transform: translateX(0);
    width: 16px
}

@media (max-width: 767.98px) {
    .loader .dot {
        height:10px;
        width: 10px
    }
}

@media (max-width: 575.98px) {
    .loader .dot {
        height:8px;
        width: 8px
    }
}

.loader .dots {
    -webkit-animation: dots 2s infinite;
    animation: dots 2s infinite;
    margin-left: 31px;
    margin-top: 12px;
    transform: translateX(0)
}

.loader .dots span {
    background: rgba(var(--red),var(--green),var(--blue),1);
    border-radius: 50%;
    display: block;
    float: left;
    height: 16px;
    margin-left: 16px;
    width: 16px
}

@media (max-width: 767.98px) {
    .loader .dots span {
        height:10px;
        margin-left: 14px;
        width: 10px
    }
}

@media (max-width: 575.98px) {
    .loader .dots span {
        height:8px;
        margin-left: 12px;
        width: 8px
    }
}

.preloader {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 90
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px)
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px)
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px)
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px)
    }
}